*{margin:0; padding:0;}

html{
	height:100%;
	background: linear-gradient(rgba(38 , 128 , 101 , 0.9) , rgba(52 , 177 , 140 , 0.9));
}

body{
	font-family: "Trebuchet MS" , sans-serif;
}

#formulario{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#formulario h2 , #formulario h3{
	font: 22px "Trebuchet MS";
	color: #090;
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 4%;
}

#formulario h3{color:#333; font-size:17px;}

#formulario fieldset{
	background: #fff;
	border: 0 none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0 0 15px 1px rgba(0, 0 , 0 , 0.4);
	padding: 20px 30px;
	box-sizing: content-box;
	width: 80%;
	margin: 0 5%;
	position: absolute;
}


#formulario fieldset:not(:first-of-type){
	display:none;
}

#formulario input , #formulario textarea{
	padding:10px;
	border: 1px solid rgba(38 , 128 , 101 , 0.9);
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	outline: none;
	box-sizing:border-box;
	width: 100%;
	font: 14px "Trebuchet MS" , sans-serif;
	color: black;
	margin-bottom: 10px;
}

#formulario .acao{
	width: 100px;
	background:rgba(38 , 128 , 101 , 0.9);;
	color: #fff;
	font-weight: bold;
	padding: 12px 0;
	float: left;
	margin-right: 5%;
}

#formulario .acao:hover{background: rgba(52 , 177 , 140 , 0.9); cursor: pointer;}


#formulario #progress{
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}

#formulario #progress li{
	list-style-type: none;
	color:#fff;
	font-weight: bold;
	font-size:15px;
	float: left;
	width: 33.33%;
	position: relative;
}

#formulario #progress li:before{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	display:block;
	line-height: 20px;
	background: white;
	color: #333;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0 auto 10px auto;
}

#formulario #progress li:after{
	content: '';
	width: 100%;
	background:white;
	height: 2px;
	position: absolute;
	top: 9px;
	left:-50%;
	z-index: -1;
}

#formulario #progress li:after{
	content: '';
	width: 100%;
	background:white;
	height: 2px;
	position: absolute;
	top: 9px;
	left:-50%;
	z-index: -1;
}


#formulario #progress li:first-child:after{
	content: none;
}

#formulario #progress li:nth-child(4):after{
	content: none;
}

#formulario #progress li:nth-child(7):after{
	content: none;
}

#formulario #progress li.ativo:before,#formulario #progress li.ativo:after{
	background:rgba(40,208,141,0.9); 
	color: white;
	text-shadow: 0 1px 0;
}

.form-style-5 select {
	font-family: "Trebuchet MS", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:black;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

textarea{
	resize: none;
	height: 340px;
}

/*	.col1{
	width:50%;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	float: left;
	column-gap: 20px;
	-webkit-column-gap: 20px;
	}*/

/*	.col2{
	width: 50%;
	float: right;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	}*/